<template>
  <!-- <q-img
    src="~assets/bg.png"
    style="width: 100vw"
  > -->

  <q-page class="row justify-around q-pa-lg">
    <div class="q-pa-md row items-center q-gutter-md">
      <div class="text-h2 text-weight-light animated fadeInDown">EĞİTİMLER</div>
      <q-separator/>
      <div class="text-h4 text-weight-bolder animated fadeInDown">YENİ EKLENENLER</div>
      <q-separator/>


      <div
        v-for="item in videoList"
        :key="item"
        class="example-item items-start"
      >
        <div class="q-pa-md q-gutter-sm">
          <a style="cursor: pointer" @click="toggleModal(item.id)">
            <a class="text-white">
              <q-card class="my-card animated fadeInDown animated fadeInDown" style="max-width:250px">
                <img :src="item.image.url">

                <q-card-section style="min-height:90px">
                  <div class="text-h8 text-grey-8 text-weight-normal">{{ item.title }}</div>
                  <div class="text-caption text-grey-8"></div>
                </q-card-section>
                <q-card-section class="q-pt-none text-grey-8">
                  {{ item.description }}
                </q-card-section>
              </q-card>
            </a>
          </a>
        </div>
      </div>

      <!--********************************************-->
      <q-dialog v-model="fullWidth"
                full-width>
        <q-card style="width: 100%;height: 100%;
">
          <div class="q-pa-md" style="height: 91%;">
            <div class="q-video" style="height: 100%;">
              <iframe
                src="http://localhost:8081/#/topluluk"
                frameborder="0"
                allowfullscreen
              />
            </div>
          </div>


          <q-card-actions align="right">
            <q-btn flat label="CLOSE" color="primary" v-close-popup/>
          </q-card-actions>
        </q-card>
      </q-dialog>


<!--      <q-separator/>-->
<!--      <div class="text-h4  text-weight-bolder">SON İZLEDİKLERİNİZ</div>-->

<!--      <q-separator/>-->

<!--      <div-->
<!--        v-for="item in videoListLastViewed"-->
<!--        :key="item"-->
<!--        class="example-item items-start"-->
<!--      >-->

<!--        <a href="#/video/1" class="text-white">-->
<!--          <q-card class="my-card animated fadeInDown animated fadeInDown" style="max-width:250px">-->
<!--            <img :src="item.video_image">-->

<!--            <q-card-section style="min-height:130px">-->
<!--              <div class="text-h6 text-grey-8 text-weight-bold">{{ item.content }}</div>-->
<!--              <div class="text-caption text-grey-8"></div>-->
<!--            </q-card-section>-->
<!--            <q-card-section class="q-pt-none text-grey-8">-->
<!--              {{ item.video_time }}-->
<!--              <span class="material-icons" style="font-size: 20px;margin-top:-3px"> play_circle_outline </span>-->
<!--            </q-card-section>-->
<!--          </q-card>-->
<!--        </a>-->

<!--      </div>-->

<!--      <q-separator/>-->
<!--      <div class="text-h4  text-weight-bolder">KAYDETTİKLERİNİZ</div>-->

<!--      <q-space/>-->
<!--      <q-separator/>-->

<!--      <q-card class="my-card animated fadeInDown" style="max-width:250px;">-->
<!--        <img src="https://cdn.quasar.dev/img/mountains.jpg">-->

<!--        <q-card-section>-->
<!--          <div class="text-h6 text-grey-8 text-weight-bold">Müşteri İtirazlarıyla Başa Çıkma Stratejileri</div>-->
<!--          <div class="text-caption text-grey-8">4DK 1500P</div>-->
<!--        </q-card-section>-->

<!--        <q-card-section class="q-pt-none">-->
<!--          &lt;!&ndash; {{ lorem }} &ndash;&gt;-->
<!--        </q-card-section>-->
<!--      </q-card>-->

<!--      <q-card class="my-card animated fadeInDown" style="max-width:250px;">-->
<!--        <img src="https://cdn.quasar.dev/img/mountains.jpg">-->

<!--        <q-card-section>-->
<!--          <div class="text-h6 text-grey-8 text-weight-bold">Müşteri İtirazlarıyla Başa Çıkma Stratejileri</div>-->
<!--          <div class="text-caption text-grey-8">4DK 1500P</div>-->
<!--        </q-card-section>-->

<!--        <q-card-section class="q-pt-none">-->
<!--          &lt;!&ndash; {{ lorem }} &ndash;&gt;-->
<!--        </q-card-section>-->
<!--      </q-card>-->
<!--      <q-card class="my-card animated fadeInDown" style="max-width:250px;">-->
<!--        <img src="https://cdn.quasar.dev/img/mountains.jpg">-->

<!--        <q-card-section>-->
<!--          <div class="text-h6 text-grey-8 text-weight-bold">Müşteri İtirazlarıyla Başa Çıkma Stratejileri</div>-->
<!--          <div class="text-caption text-grey-8">4DK 1500P</div>-->
<!--        </q-card-section>-->

<!--        <q-card-section class="q-pt-none">-->
<!--          &lt;!&ndash; {{ lorem }} &ndash;&gt;-->
<!--        </q-card-section>-->
<!--      </q-card>-->
<!--      <q-card class="my-card animated fadeInDown" style="max-width:250px;">-->
<!--        <img src="https://cdn.quasar.dev/img/mountains.jpg">-->

<!--        <q-card-section>-->
<!--          <div class="text-h6 text-grey-8 text-weight-bold">Müşteri İtirazlarıyla Başa Çıkma Stratejileri</div>-->
<!--          <div class="text-caption text-grey-8">4DK 1500P</div>-->
<!--        </q-card-section>-->

<!--        <q-card-section class="q-pt-none">-->
<!--          &lt;!&ndash; {{ lorem }} &ndash;&gt;-->
<!--        </q-card-section>-->
<!--      </q-card>-->
<!--      <q-card class="my-card animated fadeInDown" style="max-width:250px;">-->
<!--        <img src="https://cdn.quasar.dev/img/mountains.jpg">-->

<!--        <q-card-section>-->
<!--          <div class="text-h6 text-grey-8 text-weight-bold">Müşteri İtirazlarıyla Başa Çıkma Stratejileri</div>-->
<!--          <div class="text-caption text-grey-8">4DK 1500P</div>-->
<!--        </q-card-section>-->

<!--        <q-card-section class="q-pt-none">-->
<!--          asd-->
<!--        </q-card-section>-->
<!--      </q-card>-->
    </div>
  </q-page>
  <!-- </q-img> -->

</template>

<script lang="ts">

import Vue from 'vue'

import ExampleComponent from 'components/CompositionComponent.vue'
import {Todo, Meta} from 'components/models'
import axios from 'axios';
import {Cookies} from "quasar";

export default Vue.extend({
  name: 'PageIndex',
  components: {ExampleComponent},
  methods: {
    toggleModal: function (id) {
      this.fullWidth = true
      this.id = id
      const item = this.videoList.filter(item => item.id === id);
      this.getItem = item[0];

    }
  },
  data() {
    return {
      getItem: [],
      videoList: [],
      videoListLastViewed: [],
      fullWidth: false,
      id: 0,
      confirm: false,
      prompt: false,
      address: ''
    }
  },
  mounted() {
    const token = Cookies.get('authorization_token');
    axios
      .get("http://lenovo.46.101.203.71.nip.io/api/v1/trainings/catalogue?_format=json", {
        headers: {
          'Content-Type': 'application/vnd.api+json',
          'Accept': '*/*',
          'Authorization': `Bearer ${token}`,
        }
      })
      .then(response => {
        this.videoList = response.data.items;
      });

    axios
      .get("http://localhost:8081/statics/videoList.txt")
      .then(response => {
        this.videoListLastViewed = response.data.videoListLastViewed;
      });
  }
})

// console.log(this.$route.query.page).
// const dataURL = 'http://tutorialsplane.com/runtest/json/getUsers.php';
// console.log(axios.get(dataURL).then(response => response.data));

</script>
