<template>
  <q-page class="q-pa-md animated fadeInDown">

    <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">

      <q-carousel
        animated
        v-model="slide"
        navigation
        infinite
        autoplay
        arrows
        transition-prev="slide-right"
        transition-next="slide-left"
        style="height:25vw;"
        class="bg-grey-10">
        >
        <q-carousel-slide v-for="item in sliderList"
                          :key="item"
                          :name="item.nid"
                          :img-src="'http://lenovo.46.101.203.71.nip.io' + item.field_banner_file"/>
        <!--        <q-carousel-slide :name="2" img-src="~assets/banner.png"/>-->
        <!--        <q-carousel-slide :name="3" img-src="~assets/banner.png"/>-->
        <!--        <q-carousel-slide :name="4" img-src="~assets/banner.png"/>-->
        <!--        <q-carousel-slide :name="1" img-src="~assets/banner.png"/>-->
      </q-carousel>


    </div>


    <div class="">

      <div class="q-pa-md">
        <div class="q-gutter-y-lg">
          <q-card class="bg-dark" style="box-shadow: 3px 2px 27px 10px rgba(0,0,0,0.59);">
            <q-tabs
              v-model="tab"
              dense
              class="text-grey"
              active-color="red"
              indicator-color="red"
              align="justify-start"
            >
              <q-tab name="mails" label="Dizüstü Bilgisayar"/>
              <q-tab name="alarms" label="Masaüstü Bilgisayar"/>

            </q-tabs>

            <q-separator/>

            <q-tab-panels dark v-model="tab" animated>
              <q-tab-panel name="mails">


                <div class="row q-gutter-lg animated fadeIn animated fadeIn">


                  <div class="col-lg-2 col-md-2 col-xs-6 col-sm-4">
                    <img style="width:100%" src="https://static.lenovo.com/au/image/2019/lenovo-logo-2.png?w=1920">

                    <!-- <q-card-section> -->
                    <!-- <div class="text-h8 text-center">V14</div> -->
                    <!-- </q-card-section> -->


                  </div>


                  <div class="col-lg-2 col-md-2 col-xs-6 col-sm-4">
                    <img style="width:100%"
                         src="https://static.lenovo.com/na/laptops-splitter/logos/think-logo.png?w=1920">

                    <!-- <q-card-section> -->
                    <!-- <div class="text-h8 text-center">Think</div> -->
                    <!-- </q-card-section> -->


                  </div>


                  <div class="col-lg-2 col-md-2 col-xs-6 col-sm-4">
                    <img style="width:100%" src="https://static.lenovo.com/au/image/2019/ideapad-logo-2.png?w=1920">

                    <!-- <q-card-section> -->
                    <!-- <div class="text-h8 text-center">Flex 5 (14, Intel)</div> -->
                    <!-- </q-card-section> -->


                  </div>

                  <div class="col-lg-2 col-md-2 col-xs-6 col-sm-4">
                    <img style="width:100%" src="https://static.lenovo.com/au/image/2019/yoga-logo-2.png?w=1920">

                    <!-- <q-card-section> -->
                    <!-- <div class="text-h8 text-center">T15 (Intel)</div> -->
                    <!-- </q-card-section> -->


                  </div>


                  <div class="col-lg-2 col-md-2 col-xs-6 col-sm-4">
                    <img style="width:100%"
                         src="https://static.lenovo.com/na/laptops-splitter/logos/legion-logo.png?w=1920">

                    <!-- <q-card-section> -->
                    <!-- <div class="text-h8 text-center">330 (17, Intel)</div> -->
                    <!-- </q-card-section> -->


                  </div>


                </div>

              </q-tab-panel>

              <q-tab-panel name="alarms">


                <div class="row q-gutter-md">


                  <div class="col-md-2">
                    <img style="width:100%"
                         src="https://www.lenovo.com/medias/ThinkCentre-hero-splitter.png?context=bWFzdGVyfHJvb3R8NzEwOTN8aW1hZ2UvcG5nfGhlOS9oMTUvMTA4MDQ0OTE1NTA3NTAucG5nfGE5Mzc1YTI4OGE2NGQ3NGNjNDYxZTZlMjkzODNlZTBiYzdiZGRmZDRhMDRjODQ3NDEyZTY5Y2ZjNDVkYzZkYWE&w=1920">

                    <q-card-section>
                      <div class="text-h8 text-center">THINKCENTRE</div>
                    </q-card-section>


                  </div>


                  <div class="col-md-2">
                    <img style="width:100%"
                         src="https://www.lenovo.com/medias/lenovo-aio-desktop-v530-24-front.png?context=bWFzdGVyfHJvb3R8MTkxMzh8aW1hZ2UvcG5nfGhmNy9oZGEvOTc0NzgyMTc1NjQ0Ni5wbmd8ZGFjMjIwZDMzNzYwMDZhZTNkMTY3NjEyYmM3ODY4ZTkzY2NjM2MxOTAyY2E4MWVlYTczOWRlMGFlMGY2YWI4MA&w=1920">

                    <q-card-section>
                      <div class="text-h8 text-center">LENOVO</div>
                    </q-card-section>


                  </div>


                  <div class="col-md-2">
                    <img style="width:100%"
                         src="https://www.lenovo.com/medias/lenovo-desktop-aio-ideacentre-a540-24-front.png?context=bWFzdGVyfHJvb3R8OTU0MjV8aW1hZ2UvcG5nfGhjMS9oYzMvMTA2MDEyMTkxMjkzNzQucG5nfDYxYWFhZTcyZWM0YjUxODEwNjJmOGY3Mjg5ZTU2OTc3ODZkMTFiOTExNWY0YzdmNzk2MTFmOGE1ZWNmYmVjY2U&w=1920">

                    <q-card-section>
                      <div class="text-h8 text-center">IDEACENTRE</div>
                    </q-card-section>


                  </div>


                  <div class="col-md-2">
                    <img style="width:100%"
                         src="https://www.lenovo.com/medias/lenovo-tower-legion-t730-front.png?context=bWFzdGVyfHJvb3R8MjIwMjV8aW1hZ2UvcG5nfGgwMy9oYTQvOTcyNjc0MjMzMTQyMi5wbmd8YzFiM2FkZjgzMzNiZWRmNjkxNDQxOTk0NzBlYzNiMzE5Nzg4ZWRlNzJjZWMwMzA3M2YwMjY3ZTI5NDE0YzAxYw&w=1920">

                    <q-card-section>
                      <div class="text-h8 text-center ">LEGION</div>
                    </q-card-section>


                  </div>

                </div>


              </q-tab-panel>

            </q-tab-panels>
          </q-card>

        </div>
        <div class="flex-break bg-grey" style="height:5px;margin-bottom:5px"></div>
        <div class="text-h8 text-white text-weight-normal  text-right"><a href="" class="text-white"
                                                                          style="text-decoration:none;">Tüm Ürünler</a>
        </div>
      </div>

      <div class="q-pa-md" style="padding:10px 16px">
        <div class="flex-break q-py-xs bg-red" style="box-shadow: 3px 2px 27px 10px rgba(0,0,0,0.59);"></div>
      </div>


      <div class="q-pa-md">


        <div class="row q-col-gutter-md">


          <div class="col-md-5 col-sm-12 col-xs-12 ">


            <q-card dark class="my-card " style="box-shadow: 3px 2px 27px 10px rgba(0,0,0,0.59);">
              <q-card-section>
                <div class="text-h6">Eğitimler</div>
              </q-card-section>


              <div class="q-pa-md ">

                <div class="row q-col-gutter-md ">

                  <div v-for="item in videoList"
                       :key="item" class="col-md-6">
                    <a style="cursor: pointer" @click="toggleModal(item.id)">
                      <img :src="item.image.url" class="full-width">
                      <div class="text-h9" style="height:54px">{{ item.title }}</div>
                    </a>
                  </div>

                  <!--********************************************-->
                  <q-dialog v-model="fullWidth" full-width>
                    <q-card style="width: 100%;height: 100%;">
                      <div class="q-pa-md" style="height: 91%;">
                        <div class="q-video" style="height: 100%;">
                          <iframe
                            src="http://localhost:8081/#/topluluk"
                            frameborder="0"
                            allowfullscreen
                          />
                        </div>
                      </div>


                      <q-card-actions align="right">
                        <q-btn flat label="CLOSE" color="primary" v-close-popup/>
                      </q-card-actions>
                    </q-card>
                  </q-dialog>


                </div>
              </div>

              <div data-v-4bc9d7de="" class="flex-break bg-grey" style="height: 5px; margin-bottom: 5px;"></div>
              <router-link style="text-decoration: none;" to="/egitimler">
                <div class="q-pa-xs text-h8 text-red text-right">Hepsini göster</div>
              </router-link>


            </q-card>

          </div>

          <div class="col-md-5 col-sm-12 col-xs-12">


            <q-card dark class="my-card" style="box-shadow: 3px 2px 27px 10px rgba(0,0,0,0.59);">

              <q-card-section>

                <div class="text-h6">Soru & Cevap</div>

              </q-card-section>


              <div id="remove-last-hr" class="q-pa-md" v-for="(item, index) in topicList"
                   :key="item">
                <div class="row q-col-gutter-md">
                  <div class="col-md-8">
                    <div class="text-h9">{{ item.title }}</div>
                  </div>
                  <div class="col-md-2">
                    <div class="text-h15" style="font-size:10px">{{ item.comment_count + ' Cevap'}}</div>
                  </div>

                  <div class="col-md-2">
                    <div class="text-h15" style="font-size:10px">{{ item.last_updated + ' Önce'}}</div>
                  </div>

                </div>
                 <hr v-if="topicList.length - 1 !== index">
              </div>


              <div data-v-4bc9d7de="" class="flex-break bg-grey"
                   style="height: 5px; margin-bottom: 5px;margin-top:13px"></div>
              <router-link style="text-decoration: none;" to="/topluluk">
              <div class="q-pa-xs text-h8 text-red text-right">Hepsini göster</div>
              </router-link>

            </q-card>

          </div>

          <div class="col-md-2 col-xs-12">


            <q-card dark class="my-card" style="box-shadow: 3px 2px 27px 10px rgba(0,0,0,0.59);">

              <q-parallax
                src=""
              >
<!--                <q-parallax-->
<!--                src="http://localhost:8081/img/banner.png"-->
<!--              >-->

                <div class="text-h6 text-center">Lenovo'da, Akıllı Dönüşüme liderlik ediyoruz.</div>
              </q-parallax>

            </q-card>

          </div>

        </div>
      </div>


    </div>
  </q-page>
</template>

<script lang="ts">
import Vue from 'vue'
import ExampleComponent from 'components/CompositionComponent.vue'
import {Todo, Meta} from 'components/models'
import {Cookies} from 'quasar'
import axios from "axios";
import VueRouter from 'vue-router'

Vue.use(VueRouter)

export default Vue.extend({
  name: 'PageIndex',
  components: {ExampleComponent},
  methods: {
    toggleModal: function (id) {
      this.fullWidth = true
      this.id = id
      const item = this.videoList.filter(item => item.id === id);
      this.getItem = item[0];
    }
  },
  data() {

    const meta: Meta = {
      totalCount: 1200
    }
    return {
      meta, slide: 1,
      tab: 'mails',
      videoList: [],
      sliderList: [],
      topicList: [],
      getItem: [],
      fullWidth: false,
      id: 0,
      confirm: false,
      prompt: false,

    }
  },
  mounted() {
    if (localStorage.getItem('reloaded')) {
      // The page was just reloaded. Clear the value from local storage
      // so that it will reload the next time this page is visited.
      localStorage.removeItem('reloaded');
    } else {
      // Set a flag so that we know not to reload the page twice.
      localStorage.setItem('reloaded', '1');
      location.reload();
    }
    // console.log(this.$router)
    // console.log(window.location.href)
    Cookies.get('user')
    const token = Cookies.get('authorization_token');
    axios
      .get("http://lenovo.46.101.203.71.nip.io/api/v1/trainings/catalogue?_format=json", {
        headers: {
          'Content-Type': 'application/vnd.api+json',
          'Accept': '*/*',
          'Authorization': `Bearer ${token}`,
        }
      })
      .then(response => {
        this.videoList = response.data.items;
      });

    axios
      .get("http://lenovo.46.101.203.71.nip.io/banner?_format=json")
      .then(response => {
        this.sliderList = response.data;

      });

    axios
      .get("http://lenovo.46.101.203.71.nip.io/last_topics?_format=json",{
        headers: {
          'Content-Type': 'application/vnd.api+json',
          'Accept': '*/*',
          'Authorization': `Bearer ${token}`,
        }
      })
      .then(response => {

        this.topicList = response.data;
        console.log(this.topicList[0] )

      });
  }
})


</script>

<style lang="sass" scoped>
.example-item
  height: 200px
  width: 200px
</style>
