<template>
  <q-img
    src="~assets/login_back.jpg"
    style="width: 100vw"
  >
    <q-page class="bg-light-grey window-height window-width row justify-center items-center">
      <div class="column">
        <div class="row">

        </div>
        <div class="row">
          <q-card square bordered class="dark q-pa-lg shadow-20 animated fadeInDown animate__bounce animate__slow">
            <q-card-section>
              <q-form class="q-gutter-md">
                <q-input square filled clearable v-model="data.body.name" ref="name" type="text" label="e-posta"/>
                <q-input square filled clearable v-model="data.body.pass" ref="pass" type="password" label="şifre"/>
              </q-form>
            </q-card-section>
            <q-card-actions class="q-px-md">
              <q-btn @click="login" unelevated color="red" size="lg" class="full-width" label="Giriş yap"/>
            </q-card-actions>
            <q-card-section v-if="data.error" class="text-center q-pa-none">
              <p class="text-red-13">{{ data.error }}</p>
            </q-card-section>
            <q-card-section class="text-center q-pa-none">
              <p class="text-grey-6">Hesabınız yok mu? Hesap oluştur.</p>
            </q-card-section>
          </q-card>
        </div>
      </div>
    </q-page>
  </q-img>
</template>

<script lang="ts">
import Vue from 'vue'
import Vuelidate from 'vuelidate'
import { required } from 'vuelidate/lib/validators';
Vue.use(Vuelidate)

export default {
  name: 'Login',
  data() {
    return {
      data: {
        error: undefined,
        body: {
          name: '',
          pass: ''
        },
      },
    }
  },
  methods: {
    login() {
      this.$v.data.$touch()
      if (!this.$v.data.$error) {
        const data = {
          name : this.data.body.name,
          pass: this.data.body.pass,
        }
        this.loading = true
        this.$auth.login(data).then((response) => {
          this.$router.push('/')
        }).catch((error) => {
          console.log(error.response.status)
          if (error.response) {
            if (error.response.status === 401) {
              this.$q.dialog({
                message: this.$t('auth.login.verification_required')
              })
            } else if (error.response.status === 403 || error.response.status === 400) {
              this.data.error = "Wrong user name or password"
              this.$q.dialog({
                message: "Wrong user name or password"
              })
            } else {
              console.error(error)
            }
          }
        }).finally(() => {
          this.loading = false
        })
      }
    }
  },
  validations: {
    data: {
      body: {
        name: {
          required,
        },
        pass: {
          required
        }
      }
    }
  }
}
</script>
<style>
.q-card {
  width: 360px;
}
</style>
