<style>
pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
pre, code{
  white-space:pre-line;
}
</style>
<template>
  <!-- <q-img
    src="~assets/bg.png"
    style="width: 100vw"
  > -->
  <q-page class="q-pa-md animated fadeInDown">


    <div class="">


      <div class="q-pa-md">


        <div class="row q-col-gutter-md">

          <div class="col-md-12 col-sm-12 col-xs-12 ">

            <q-card dark class="my-card" style="box-shadow: 3px 2px 27px 10px rgba(0,0,0,0.59);">

              <div>

                <div class="q-pa-md">

                  <div class="row q-col-gutter-md ">

                    <div class="row q-pa-md">
                      <div class="col-md-4 col-sm-4 col-xs-12">

                        <img style="width:100%;"
                             :src="'http://lenovo.46.101.203.71.nip.io'+product.field_product_image">

                        <!--                                                        <img style="width:60px;margin-left:30px" class="relative-position" :src="products[$route.params.id-1].horizontal_logo">-->

                      </div>
                      <div class="col-md-7 col-sm-7 col-sx-12" style="margin-left: 10px;">
                        <q-item-label>
                          <br>
                          <div class="text-h4">{{ product.title.replace(/(<([^>]+)>)/ig, "") }}</div>
                          <br>
                        </q-item-label>

                        <div class="text-body2 text-weight-light">
                              <pre>
                                  {{ product.body }}
                              </pre>
                        </div>

                      </div>
                    </div>

                  </div>

                </div>
                <div data-v-4bc9d7de="" class="flex-break bg-grey" style="height: 2px; margin-bottom: 5px;"></div>


              </div>

            </q-card>


          </div>


        </div>
      </div>


    </div>
  </q-page>
  <!-- </q-img> -->
</template>


<script lang="ts">

import Vue from 'vue'
import ExampleComponent from 'components/CompositionComponent.vue'
import {Todo, Meta} from 'components/models'
import axios from 'axios';


export default Vue.extend({
  name: 'PageIndex',
  components: {ExampleComponent},
  data() {
    return {
      product: []
    }
  },

  mounted() {
    const url_id = this.$route.params.id;
    axios
      // .get("http://localhost:8081/statics/urunler.txt")
      .get("http://lenovo.46.101.203.71.nip.io/urun_details/" + url_id + "?_format=json")
      .then(response => {
        this.product = response.data[0];
      });

  }

})

</script>

<style lang="sass" scoped>
.example-item
  height: 200px
  width: 200px
</style>
