<template>
<!-- <q-img
  src="~assets/bg.png"
  style="width: 100vw"
> -->

  <q-page class="">
<div class="q-pa-md row q-gutter-md">

  <div class="text-h4 text-weight-thin animated fadeInDown col-md-12">Dizüstü Bilgisayar</div>


            <div class="row animated fadeInDown">

                <div v-for="item in products" :key="item" class="q-pa-xs">

                    <a :href="'#/urun/'+item.nid" style="text-decoration:none;box-shadow: rgba(0, 0, 0, 0.59) 3px 2px 27px 10px;">

                        <div class="col-md-3">

                            <div style="border:0.5px solid grey;position:relative">

<!--                                <img style="width:60px;transform: rotate(-90deg);position:absolute;top:45px" :src="item.horizontal_logo">-->
                                <img style="width:290px;height: 185px" :src="'http://lenovo.46.101.203.71.nip.io' + item.field_product_image">

                                <p class="text-center text-h6 text-grey-1 text-weight-regular">{{ item.title.replace(/(<([^>]+)>)/ig, "") }}</p>

                            </div>

                        </div>

                    </a>

                </div>

            </div>

  </div>
  </q-page>
<!-- </q-img> -->
</template>

<script lang="ts">



import Vue from 'vue'

import ExampleComponent from 'components/CompositionComponent.vue'
import { Todo, Meta } from 'components/models'
import axios from 'axios';
import {Cookies} from "quasar";

export default Vue.extend({
  name: 'PageIndex',
  components: { ExampleComponent },

   data() {
    return {
      products: []
    }
  },

  mounted() {
    const token = Cookies.get('authorization_token');
    axios
      .get("http://lenovo.46.101.203.71.nip.io/show_urun?_format=json",{
        headers: {
          'Content-Type': 'application/vnd.api+json',
          'Accept': '*/*',
          'Authorization': `Bearer ${token}`,
        }
      })
      .then(response => {
        this.products = response.data;
      });

  }

})

</script>
