<template>
<!-- <q-img
  src="~assets/bg.png"
  style="width: 100vw"
> -->
<q-page class="row justify-evenly q-pa-lg">
   <div class="q-pa-md row items-start q-gutter-md">
   <div class="text-h2 text-weight-light animated fadeInDown">TOPLULUK</div>
    <q-separator />


      <div
        v-for="itemForum in forumLists"
        :key="itemForum"
        class="example-item items-start col-md-12"
      >


      <a :href="'#/soru/'+itemForum.nid" style="text-decoration:none">

        <q-card dark bordered class="my-card topluluk-back animated fadeInDown topluluk-back-hover" >
        <div class="row q-pa-md">
              <div class="col-md-1 q-pa-md">

                <q-item-section avatar>
                  <q-avatar size="60px" class="q-mb-sm">
                      <img src="~assets/avatar.png">
                    </q-avatar>
                </q-item-section>

              </div>
              <div class="col-md-8">



                <q-item-label>
                  <div class="text-h6">{{ itemForum.title }}</div>

                  <small> <span class="material-icons" style="font-size:20px"> question_answer </span> <b> {{ itemForum.uid }} </b> {{ itemForum.last_updated }} </small>

                  <br><br>

                </q-item-label>
                <q-item-label >
                  <div class="text-body2 text-weight-light"> {{ itemForum.body }} </div>
                </q-item-label>



              </div>
              <div class="col-md-3 ">
              <br>
              <div class="text-center">

                <span class="material-icons">
                  message
                </span>

                <span> {{ itemForum.comment_count }}</span>

              </div>


              </div>
            </div>
      </q-card>

      </a>


      </div>
   </div>
    </q-page>

<!-- </q-img> -->
</template>

<script lang="ts">



import Vue from 'vue'

import ExampleComponent from 'components/CompositionComponent.vue'
import { Todo, Meta } from 'components/models'
import axios from 'axios';
import {Cookies} from "quasar";


// axios({
//       method: 'get',
//         url: 'http://localhost:8081/statics/forum.txt',
//       }).then((response) => {
//           console.log(response.data)
//       }).catch((error) => {
//         console.log(error)
//       })


export default Vue.extend({
  name: 'PageIndex',
  components: { ExampleComponent },

   data() {
    return {
      forumLists: []
    }
  },

  mounted() {
    const token = Cookies.get('authorization_token');
    console.log(token)
    axios
      .get("http://lenovo.46.101.203.71.nip.io/all_topics?_format=json",{
        headers: {
          'Content-Type': 'application/vnd.api+json',
          'Accept': '*/*',
          'Authorization': `Bearer ${token}`,
        }
      })
      .then(response => {
        console.log(response)
        this.forumLists = response.data;

      });

  }

})

</script>

<style lang="sass" scoped>
.topluluk-back
  background: #363232
  background-blend-mode: screen
  border: 4px solid #777777
  box-sizing: border-box
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  backdrop-filter: blur(30px)
  border-radius: 5px
</style>


<style lang="stylus">

.topluluk-back-hover:hover{
  background: #D32F2F;
  transition:0.3s ease-in;
  box-shadow: 3px 2px 27px 10px rgba(0,0,0,0.59);
}

.topluluk-back-hover{
  transition:0.3s ease-in;
  background-color: rgba(255, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}


.md-10-avatar{
  font-size:30px;
  margin-left:-8px
}


</style>




