<template>
  <!-- <q-img
    src="~assets/bg.png"
    style="width: 100vw"
  > -->
  <q-page class="q-pa-md animated fadeInDown" style="width: 100%!important;">

    <div class="">
      <div class="q-pa-md">
        <div class="row q-col-gutter-md">

          <div class="col-md-12 col-sm-12 col-xs-12 ">

            <div class="row">
              <div class="col-md-2 col-xs-4 col-sm-4"><span style="font-size:35px" class="material-icons"> west </span>
              </div>
              <div class="col-md-9 col-xs-5 col-sm-4"></div>
              <div class="col-md-1 col-xs-3 col-sm-4">
                <div class="q-gutter-sm">
                  <q-btn color="red" label="CEVAPLA" @click="medium = true"/>


                  <!--  ************************************************-->
                  <q-dialog v-model="medium">
                    <q-card style="width: 700px; max-width: 80vw;">
<!--                      <q-card-section>-->
<!--                        <div class="text-h6">CEVAPLA</div>-->
<!--                      </q-card-section>-->
                      <q-form class="q-gutter-md">
                        <q-input
                          placeholder="write your comment"
                          v-model="comment"
                          filled
                          type="textarea"
                        />
                      </q-form>
                      <q-card-actions align="right" class="bg-white text-teal">
<!--                        <q-btn label="Close" v-close-popup/>-->
                        <q-btn @click="commentStore" unelevated color="red" size="lg" class="full-width"
                               label="Send Comment"/>
                      </q-card-actions>
                    </q-card>
                  </q-dialog>
                </div>


              </div>
            </div>

            <br>

            <q-card dark class="my-card" style="box-shadow: 3px 2px 27px 10px rgba(0,0,0,0.59);margin-bottom:30px">

              <div class="q-pa-md">

                <div class="row q-col-gutter-md ">

                  <div style="display:flex; align-items:start; width:100%">
                    <div class="col-md-1 q-pa-md">
                      <q-item-section avatar>
                        <q-avatar size="60px" class="q-mb-sm">
                          <img src="~assets/avatar.png">
                        </q-avatar>
                      </q-item-section>
                    </div>
                    <div class="col-md-11"
                         style="position: relative;top: 0px;right: 20px;width: 90%;word-break: break-all;justify-content: center;">
                      <q-item-label>
                        <div class="text-h6">{{ topicDetails.uid }}</div>
                        <b> {{ topicDetails.title.replace(/(<([^>]+)>)/ig, "") }} </b>
                        <br><br>
                      </q-item-label>
                      <q-item-label>
                        <div class="text-body2 text-weight-light"> {{
                            topicDetails.body.replace(/(<([^>]+)>)/ig, "")
                          }}
                        </div>
                      </q-item-label>
                    </div>
                  </div>

                </div>

              </div>
              <!-- <div data-v-4bc9d7de="" class="flex-break bg-grey" style="height: 3px; margin-bottom: 5px;"></div> -->
            </q-card>


            <q-card dark class="my-card" style="box-shadow: 3px 2px 27px 10px rgba(0,0,0,0.59);">

              <div style="padding:40px">
                <!-- [$route.params.id] -->
                <a v-for="item in commentList" :key="item" class="example-item items-start">

                  <div class="q-pa-md ">

                    <div class="row q-col-gutter-md ">

                      <div style="display: flex;    margin-left: -12px;">
                        <div class="col-md-1 q-pa-md">
                          <q-item-section avatar>
                            <q-avatar size="60px" class="q-mb-sm">
                              <img src="~assets/avatar.png">
                            </q-avatar>
                          </q-item-section>

                        </div>
                        <div class="col-md-11"
                             style="position: relative;top: 0px;right: 20px;width: 90%;word-break: break-all;justify-content: center;">
                          <q-item-label>
                            <div class="text-h6">{{ item.uid_1.replace(/(<([^>]+)>)/ig, "") }}</div>
                            <br>
                          </q-item-label>
                          <q-item-label>
                            <div class="text-body2 text-weight-light">{{
                                item.comment_body.replace(/(<([^>]+)>)/ig, "")
                              }}
                            </div>
                          </q-item-label>
                        </div>
                      </div>

                    </div>

                  </div>
                  <div data-v-4bc9d7de="" class="flex-break bg-grey" style="height: 2px; margin-bottom: 5px;"></div>

                </a>

              </div>

            </q-card>


          </div>


        </div>
      </div>


    </div>
  </q-page>
  <!-- </q-img> -->


</template>


<script lang="ts">


import Vue from 'vue'

import ExampleComponent from 'components/CompositionComponent.vue'
import {Todo, Meta} from 'components/models'
import axios from 'axios';
import {Cookies} from "quasar";

export default Vue.extend({
  name: 'PageIndex',
  components: {ExampleComponent},

  data() {
    return {
      medium: false,
      topicDetails: [],
      commentList: [],
      forumLists: [],
      comment: '',
    }
  },

  mounted() {
    const url_id = this.$route.params.id;
    const token = Cookies.get('authorization_token');
    axios
      .get("http://lenovo.46.101.203.71.nip.io/show_comments/" + url_id + "?_format=json", {
        headers: {
          'Content-Type': 'application/vnd.api+json',
          'Accept': '*/*',
          'Authorization': `Bearer ${token}`,
        }
      })
      .then(response => {
        this.topicDetails = response.data[0];
        this.commentList = response.data;
      });
  },

  methods: {
    commentStore() {
      const token = Cookies.get('authorization_token');
      const csrfToken = Cookies.get('csrf_token');
      const uuid = this.commentList[0].uuid;
      axios.post('http://lenovo.46.101.203.71.nip.io/tr/jsonapi/node/forum/'+uuid+'/comment_forum',
        {
          "data": {
            "attributes": {
              "subject": "qwswerrtyrtwe",
              "comment_body": {
                "value": this.comment
              },
              "entity_type": "node"
            },
            "relationships": {
              "entity_id": {
                "data": {
                  "type": "node--forum",
                  "id": uuid
                }
              }
            },
            "type": "comment--comment_forum"
          }
      },
        {
          headers:{
          'Content-Type':'application/vnd.api+json',
          'Accept':'application/vnd.api+json',
          'Authorization': `Bearer ${token}`,
          'X-CSRF-Token':csrfToken,
        }
      })
        .then(() => {
          this.medium = false
          window.location.reload()
        }, (error) => {
          if(error.response.status===500){
            this.medium = false
            window.location.reload()
          }
          else{
            console.log(error);
          }
        });
    }
  }

})

</script>

<style lang="sass" scoped>
.example-item
  height: 200px
  width: 200px
</style>
