

<template>
<q-img
  src="~assets/bg.png"
  style="width: 100vw;height:1500px"
>
  <q-page class="justify-around">

    <div class="q-pa-md animated fadeInDown animated fadeInDown">



    <div class="row">
      <div class="col-md-6 col-xs-12 col-sm-12">
        <q-video :ratio="15/9" :src="videoList[$route.params.id-1].video_url" />
      </div>
      <div class="col-md-6 col-xs-12 col-sm-12 bg-white" style="padding:20px">
        <div>
          <div class="text-h4 text-grey-8 text-weight-light"> {{ videoList[$route.params.id-1].content }} </div>
          <div class="flex-break q-py-xs"></div>
          <div class="text-grey-8 text-weight-light">Müşteri İtirazlarıyla Başa Çıkma Stratejileri Müşteri İtirazlarıyla Başa Çıkma Stratejileri Müşteri İtirazlarıyla Başa Çıkma Stratejileri Müşteri İtirazlarıyla Başa Çıkma Stratejileri Müşteri İtirazlarıyla Başa Çıkma Stratejileri Müşteri İtirazlarıyla Başa Çıkma Stratejileri Müşteri İtirazlarıyla Başa Çıkma Stratejileri  </div>
          <div class="flex-break q-py-md"></div>
          <span class="text-h7 text-grey-8 text-weight-bold">Tür: </span>
          <span class="text-h7 text-grey-8 text-weight-light">{{ videoList[$route.params.id-1].video_category }}</span>
          <div class="flex-break"></div>
          <span class="text-h7 text-grey-8 text-weight-bold">Kredi: </span>
          <span class="text-h7 text-grey-8 text-weight-light">{{ videoList[$route.params.id-1].video_credit }}</span>
          <div class="flex-break"></div>
          <span class="text-h7 text-grey-8 text-weight-bold">Süre: </span>
          <span class="text-h7 text-grey-8 text-weight-light">{{ videoList[$route.params.id-1].video_time }}</span>
          <div class="flex-break"></div>
          <span class="text-h7 text-grey-8 text-weight-bold">Eklenme Tarihi: </span>
          <span class="text-h7 text-grey-8 text-weight-light">{{ videoList[$route.params.id-1].video_add_date }}</span>
          <div class="flex-break"></div>
        </div>
      </div>
    </div>


  </div>


  
  <div class="q-pa-md ">

    <div class="text-h5 text-weight-light animated fadeInDown">Benzer Eğitimler</div>
    </br>

    <div class="row q-gutter-lg animated fadeInDown animated fadeInDown">
      

      <div
        v-for="item in videoList"
        :key="item"
        class="example-item items-start"
      >

<a :href="'#/video/'+item.id" class="text-white">


<q-card class="my-card animated fadeInDown" style="max-width:250px;">
        <img :src="item.video_image">

        <q-card-section style="min-height:110px">
          <div class="text-h8 text-grey-8 text-weight-bold"> {{ item.content }} </div>
          <div class="text-caption text-grey-8"></div>
        </q-card-section>

        <q-card-section class="q-pt-none text-grey-8">
          {{ item.video_time }}
          <span class="material-icons" style="font-size: 20px;margin-top:-3px"> play_circle_outline </span>
        </q-card-section>
      </q-card>

</a>
      </div>
    

    </div>

  </div>



  </q-page>
  </q-img>
</template>

<script lang="ts">

import Vue from 'vue'

import ExampleComponent from 'components/CompositionComponent.vue'
import { Todo, Meta } from 'components/models'
import axios from 'axios';


// axios({
//       method: 'get',
//         url: 'http://localhost:8081/statics/videoList.txt',
//       }).then((response) => {
//           console.log(response.data)
//       }).catch((error) => {
//         console.log(error)
//       })


export default Vue.extend({
  name: 'PageIndex',
  components: { ExampleComponent },

   data() {
    return {
      videoList: [],
      videoListLastViewed: []
    }
  },
    
  mounted() {
    axios
      .get("http://localhost:8081/statics/videoList.txt")
      .then(response => {
        this.videoList = response.data.videoList;
      });

    axios
      .get("http://localhost:8081/statics/videoList.txt")
      .then(response => {
        this.videoListLastViewed = response.data.videoListLastViewed;
      });
  }

  


  
})

  // console.log(this.$route.query.page).

// const dataURL = 'http://tutorialsplane.com/runtest/json/getUsers.php';

// console.log(axios.get(dataURL).then(response => response.data));



</script>
