

<template>
<q-img
  src="~assets/bg.png"
  style="width: 100vw"
>
  <q-page class="justify-around">

    <div class="q-pa-md animated fadeInDown animated fadeInDown">

    <div
        v-for="item in video_data"
        :key="item"
        class="example-item items-start"
      >

    <div class="row">
      <div class="col-md-6 col-xs-12 col-sm-12">
        <q-video :ratio="15/9" :src="item.video_url" />
      </div>
      <div class="col-md-6 col-xs-12 col-sm-12 bg-white" style="padding:20px">
        <div>
          <div class="text-h3 text-grey-8 text-weight-light"> {{ item.content }} </div>
          <div class="flex-break q-py-xs"></div>
          <div class="text-grey-8 text-weight-light">Müşteri İtirazlarıyla Başa Çıkma Stratejileri Müşteri İtirazlarıyla Başa Çıkma Stratejileri Müşteri İtirazlarıyla Başa Çıkma Stratejileri Müşteri İtirazlarıyla Başa Çıkma Stratejileri Müşteri İtirazlarıyla Başa Çıkma Stratejileri Müşteri İtirazlarıyla Başa Çıkma Stratejileri Müşteri İtirazlarıyla Başa Çıkma Stratejileri  </div>
          <div class="flex-break q-py-md"></div>
          <span class="text-h7 text-grey-8 text-weight-bold">Tür: </span>
          <span class="text-h7 text-grey-8 text-weight-light">{{ item.video_category }}</span>
          <div class="flex-break"></div>
          <span class="text-h7 text-grey-8 text-weight-bold">Kredi: </span>
          <span class="text-h7 text-grey-8 text-weight-light">{{ item.video_credit }}</span>
          <div class="flex-break"></div>
          <span class="text-h7 text-grey-8 text-weight-bold">Süre: </span>
          <span class="text-h7 text-grey-8 text-weight-light">{{ item.video_time }}</span>
          <div class="flex-break"></div>
          <span class="text-h7 text-grey-8 text-weight-bold">Eklenme Tarihi: </span>
          <span class="text-h7 text-grey-8 text-weight-light">{{ item.video_add_date }}</span>
          <div class="flex-break"></div>
        </div>
      </div>
    </div>

    </div>

  </div>


  
  <div class="q-pa-md ">

    <div class="text-h5 text-weight-light animated fadeInDown">Benzer Eğitimler</div>
    </br>

    <div class="row q-gutter-lg animated fadeInDown animated fadeInDown">
      

      <div
        v-for="item in video_similar"
        :key="item"
        class="example-item items-start"
      >

<a href="#/video/1" class="text-white">


<q-card class="my-card animated fadeInDown" style="max-width:250px;">
        <img :src="item.video_image">

        <q-card-section style="min-height:130px">
          <div class="text-h6 text-grey-8 text-weight-bold"> {{ item.content }} </div>
          <div class="text-caption text-grey-8"></div>
        </q-card-section>

        <q-card-section class="q-pt-none text-grey-8">
          {{ item.video_time }}
          <span class="material-icons" style="font-size: 20px;margin-top:-3px"> play_circle_outline </span>
        </q-card-section>
      </q-card>

</a>
      </div>
    

    </div>

  </div>



  </q-page>
  </q-img>
</template>

<script lang="ts">
import Vue from 'vue'

import ExampleComponent from 'components/CompositionComponent.vue'
import { Todo, Meta , VideoIn , VideoSimilar } from 'components/models'

export default Vue.extend({
  name: 'PageIndex',
  components: { ExampleComponent },
  data () {
    const video_data: VideoIn[] = [

      {
        id: 4,
        content: 'Sistemi Güncelleme özelliği',
        url: '',
        video_url: 'https://www.youtube.com/embed/yfapmC-0trY',
        video_time: '6:28 dk',
        video_image: 'https://i.ytimg.com/vi/TjM95rkC5Ew/hqdefault.jpg?sqp=-oaymwEjCPYBEIoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLAT7cNL8QYyXpqkOPDtns38_RAs3A',
        video_category: 'Internet',
        video_credit: '600',
        video_add_date: 'Haziran 2020'
      },


    ]
    
    const video_similar: VideoSimilar[] = [
      {
        id: 1,
        content: 'Sistem BIOS`u nasıl güncellenir',
        url: '',
        video_url: 'https://www.youtube.com/embed/TjM95rkC5Ew',
        video_time: '2:45 dk',
        video_image: 'https://i.ytimg.com/vi/xzBuh-d1ta8/hqdefault.jpg?sqp=-oaymwEjCPYBEIoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLAf2eu6IK0HTPaI0j-ccFwfbr6ssg',
        video_category: 'Eğitim',
        video_credit: '1200',
        video_add_date: 'Mayıs 2020'
      },
      {
        id: 2,
        content: 'Sistemi Güncelleme özelliği',
        url: '',
        video_url: 'https://www.youtube.com/embed/TjM95rkC5Ew',
        video_time: '3:50 dk',
        video_image: 'https://i.ytimg.com/vi/TjM95rkC5Ew/hqdefault.jpg?sqp=-oaymwEjCPYBEIoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLAT7cNL8QYyXpqkOPDtns38_RAs3A',
        video_category: 'Eğitim',
        video_credit: '1200',
        video_add_date: 'Mayıs 2020'
      },
      {
        id: 3,
        content: 'Windows 7, 8, 8.1 ve 10 İşletim Sistemli Think Ürünleri',
        url: '',
        video_url: 'https://www.youtube.com/embed/TjM95rkC5Ew',
        video_time: '10:15 dk',
        video_image: 'https://i.ytimg.com/vi/-VOsofHLpQo/hqdefault.jpg?sqp=-oaymwEjCPYBEIoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLCyoMy6UscgoANXDK4yMMgbh7EW8Q',
        video_category: 'Eğitim',
        video_credit: '1200',
        video_add_date: 'Mayıs 2020'
      },
      {
        id: 4,
        content: 'Windows 7, 8, 8.1 ve 10 İşletim Sistemli Think Ürünleri',
        url: '',
        video_url: 'https://www.youtube.com/embed/TjM95rkC5Ew',
        video_time: '10:15 dk',
        video_image: 'https://i.ytimg.com/vi/-VOsofHLpQo/hqdefault.jpg?sqp=-oaymwEjCPYBEIoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLCyoMy6UscgoANXDK4yMMgbh7EW8Q',
        video_category: 'Eğitim',
        video_credit: '1200',
        video_add_date: 'Mayıs 2020'
      },
      {
        id: 5,
        content: 'Windows 7, 8, 8.1 ve 10 İşletim Sistemli Think Ürünleri',
        url: '',
        video_url: 'https://www.youtube.com/embed/TjM95rkC5Ew',
        video_time: '10:15 dk',
        video_image: 'https://i.ytimg.com/vi/-VOsofHLpQo/hqdefault.jpg?sqp=-oaymwEjCPYBEIoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLCyoMy6UscgoANXDK4yMMgbh7EW8Q',
        video_category: 'Eğitim',
        video_credit: '1200',
        video_add_date: 'Mayıs 2020'
      },
      {
        id: 6,
        content: 'Windows 7, 8, 8.1 ve 10 İşletim Sistemli Think Ürünleri',
        url: '',
        video_url: 'https://www.youtube.com/embed/TjM95rkC5Ew',
        video_time: '10:15 dk',
        video_image: 'https://i.ytimg.com/vi/-VOsofHLpQo/hqdefault.jpg?sqp=-oaymwEjCPYBEIoBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&rs=AOn4CLCyoMy6UscgoANXDK4yMMgbh7EW8Q',
        video_category: 'Eğitim',
        video_credit: '1200',
        video_add_date: 'Mayıs 2020'
      }
    ]

    const meta: Meta = {
      totalCount: 1200
    }
    return { video_data, meta , video_similar }
  }
})
</script>
