<template>
  <q-layout view="hHh Lpr lFf" class="dark bg-grey-10 shadow-3 rounded-borders">
    <q-header elevated class="bg-black">
      <q-toolbar>
        <q-toolbar-title>
          <q-img
            src="~assets/lenovo-logo.png"
            spinner-color="primary"
            spinner-size="82px"
            style="height: 56px; max-width: 198px"
          />
        </q-toolbar-title>

        <div></div>
        <q-btn>
          <q-icon name="notifications" class="text-white" style="font-size: 32px;" />
          <q-menu fit>
            <q-list style="min-width: 100px">
              <q-item clickable>
                <q-item-section>Bildirim</q-item-section>
              </q-item>
              <q-item clickable>
                <q-item-section>Bildirim</q-item-section>
              </q-item>
              <q-separator />
              <q-item clickable>
                <q-item-section>Bildirim</q-item-section>
              </q-item>
              <q-item clickable>
                <q-item-section>Bildirim</q-item-section>
              </q-item>
              <q-item clickable>
                <q-item-section>Bildirim</q-item-section>
              </q-item>
              <q-separator />
              <q-item clickable>
                <q-item-section>Bildirim</q-item-section>
              </q-item>
              <q-separator />
              <q-item clickable>
                <q-item-section>Bildirim</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
      </q-toolbar>

    </q-header>



    <q-page-container dark class="bg-grey-10 text-white row justify-evenly">
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
import {Cookies} from "quasar";

export default {
  name: 'LoginLayout',
  beforeCreate() {
    if (Cookies.get('authorization_token')) {
      const user = Cookies.get('user')
      this.$auth.setUserState(user)
      this.$router.push('/')
    } else {
      this.$router.push('/login')
    }
  },
  beforeRouteUpdate(to, from, next) {
    if (!Cookies.get('authorization_token')) {
      // this.$router.replace('/login')
      return false
    }
    next()
  }
}

</script>
