<template>
  <q-layout view="hHh Lpr lFf" class="dark bg-grey-10 shadow-3 rounded-borders">
    <q-header elevated class="bg-black">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          <q-img
            src="~assets/lenovo-logo.png"
            spinner-color="primary"
            spinner-size="82px"
            style="height: 56px; max-width: 198px"
          />
        </q-toolbar-title>

        <div></div>
        <q-btn>
          <q-icon name="notifications" class="text-white" style="font-size: 32px;"/>
          <span class="notification_circle" style="">
            <p class="p_notification" style="">{{ resultCount }}</p></span>
<!--          <q-btn dense color="purple" round icon="email" class="q-ml-md">-->
<!--            <q-badge color="red" floating>4</q-badge>-->
<!--          </q-btn>-->
          <q-menu fit>
            <q-list style="min-width: 200px">
              <q-item v-for="item in notificationList"
                      :key="item"
                      >
                <q-item-section>{{ item.message.substring(0, 300) + ".." }}</q-item-section>
              </q-item>
              <q-separator/>
            </q-list>
          </q-menu>
        </q-btn>
      </q-toolbar>

    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      dark
      show-if-above
      bordered
      class="text-white-8"
      content-class="bg-red-8 text-white-8"
    >
      <div class="row q-pa-md q-gutter-sm justify-center">

        <q-item-section avatar>
          <q-avatar size="90px" class="q-mb-sm">
            <img src="~assets/avatar.png">
          </q-avatar>
          <div class="text-weight-bold ">{{ this.user_name }}</div>
          <div>WELCOME</div>
        </q-item-section>

      </div>
      <q-list class="text-white-8">
        <q-item-label
          header
          class="text-white-8"
        >

        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <q-page-container dark class="bg-grey-10 text-white row justify-evenly">
      <router-view/>
    </q-page-container>

  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink'
import {Cookies} from "quasar";
import axios from "axios";

export default {
  name: 'MainLayout',
  components: {
    EssentialLink
  },
  beforeCreate() {
    if (Cookies.get('authorization_token')) {
      const user = Cookies.get('user')
      this.$auth.setUserState(user)
    } else {
      this.$router.push('/login')
    }
  },
  beforeRouteUpdate(to, from, next) {
    if (!Cookies.get('authorization_token')) {
      //this.$router.replace('/login')
      return false
    }
    next()
  },
  mounted() {
    const user_name = this.$store.getters["auth/user"].name
    this.user_name = user_name
    const token = Cookies.get('authorization_token');
    axios
      // .get("http://lenovo.46.101.203.71.nip.io/api/v1/trainings/catalogue?_format=json", {
      .get("http://lenovo.46.101.203.71.nip.io/api/v1/opigno_notifications?_format=json", {
        headers: {
          'Content-Type': 'application/vnd.api+json',
          'Accept': '*/*',
          'Authorization': `Bearer ${token}`,
        }
      })
      .then(resp => {
        // console.log(resp.data.items)
        this.notificationList = resp.data.items;
      });
  },

  data() {
    return {
      user_name: '',
      leftDrawerOpen: false,
      notificationList: [],
      essentialLinks: [
        {
          title: 'ANASAYFA',
          caption: '',
          icon: 'dashboard',
          link: '/'
        },
        {
          title: 'TOPLULUK',
          caption: '',
          icon: 'forum',
          link: '#/topluluk'
        },
        {
          title: 'ÜRÜNLER',
          caption: '',
          icon: 'laptop',
          link: '#/urunler'
        },
        {
          title: 'EĞİTİMLER',
          caption: '',
          icon: 'cast',
          link: '#/egitimler'
        },
        // {
        //   title: 'TESTLER',
        //   caption: '',
        //   icon: 'dashboard',
        //   link: '/'
        // },
        // {
        //   title: 'KAYNAKLAR',
        //   caption: '',
        //   icon: 'book',
        //   link: '/'
        // },

        // {
        //   title: 'VİDEO',
        //   caption: '',
        //   icon: 'list',
        //   link: '#/video/1'
        // },
        // {
        //   title: 'SORU',
        //   caption: '',
        //   icon: 'list',
        //   link: '#/soru'
        // },
      ]
    }
  },
  methods: {},
  computed: {
    resultCount () {
      return this.notificationList && this.notificationList.length
    }
  }
}
</script>
<style>
.notification_circle {
  height: 18px;
  width: 18px;
  background-color: #D32F2F;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 6px;
  right: 15px;
}
.p_notification {
  text-align: center;
  position: absolute;
  top: -3px;
  left: 4px;
}
</style>
